#c4g_condition input.formdata {
    margin-bottom: 20px;
}

.c4g_multicheckbox span input {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

#c4g_brick select {
    -moz-appearance: none;
    -webkit-appearance: none;
}

#c4g_brick select::-ms-expand {
    display: none;
}

#c4g_brick input, #c4g_brick select {
    background: transparent !important;
    border: none !important;
    margin-bottom: 0 !important;
}

.c4g_brick_list_header {
    display: none !important;
}

.c4g_brick_list_row:not(.c4g_list_search_hide) {
    display: initial !important;
}

.c4g_multicheckbox span {
    display: block !important;
    margin-top: 5px;
}

.searchInfo {
    display: none;
}

li > .span-list {
    display: list-item;
}